*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#container {
	max-width: 1200px;
	min-width: 300px;
	margin: 0 auto;
	margin-bottom: 250px;
}

#isotope { *zoom: 1; } .isotope::before, .isotope::after { content: " "; display: table; } .isotope::after { clear: both; }
#isotope { margin: 0 auto; }
.isotope_item {
	border: 1px solid black;
	background: #ccc;
	width: 300px;
	height: 300px;
	padding: 10px;
	margin-right: -1px;
	margin-bottom: -1px;
	float: left;
}

.js #next {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/**** Infinite Scroll ****/
#infscr-loading {
	font-family: arial, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .15em;
	line-height: 1;
	position: fixed;
	text-align: center;
	z-index: 100;
	width: 70px;
	background: #000;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
#infscr-loading img {
	width: 50px;
	height: auto;
	border: 0;
	margin: 0 0 10px;
	max-width: none;
	display: block;
}

#loading {
	display: none;
	height: 50px;
	background: url(../images/loader1.gif) no-repeat center top;
	background-size: 50px;
}
