h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 {
	letter-spacing: .05em;
	text-transform: uppercase;
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin: 0 0 25px;
	padding: 0;
}

.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 {
	letter-spacing: .08em;
	text-transform: none;
	font-weight: normal;
}

h1, .h1, .sh1 {
	font-size: 28px;
	line-height: 30px;
}

h2, .h2, .sh2 {
	font-size: 26px;
	line-height: 28px;
}

h3, .h3, .sh3 {
	font-size: 24px;
	line-height: 26px;
}

h4, .h4, .sh4 {
	font-size: 22px;
	line-height: 24px;
}

h5, .h5, .sh5 {
	font-size: 20px;
	line-height: 22px;
}

h6, .h6, .sh6 {
	font-size: 18px;
	line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
	
	+ {
		
		h1, h2, h3, h4, h5, h6 { margin-top: -23px !important; }
		
	}
	
}

h1:empty { display: none; }
